@model Transaction
<h1>Edit Transaction</h1>

<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Transaction Info</div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>Origin Customer</th>
                <th>Origin Old Balance</th>
                <th>Origin New Balance</th>
                <th>Destination Customer</th>
                <th>Destination Old Balance</th>
                <th>Destination New Balance</th>
            </tr>
            <tr>
                <td>@Model.OriginCustomer.Name</td>
                <td>@Model.OldBalanceOrigin</td>
                <td>@Model.NewBalanceOrigin</td>
                <td>@Model.DestinationCustomer.Name</td>
                <td>@Model.OldBalanceDestination</td>
                <td>@Model.NewBalanceDestination</td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-4">
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.Amount"></label>
            <input asp-for="@Model.Amount" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Date"></label>
            <input asp-for="@Model.Date" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="@Model.TransactionType"></label>
            <input asp-for="@Model.TransactionType" class="form-control" disabled />
        </div>
        <div class="form-group">
            <div class="form-group">
                <label asp-for="@Model.IsFraud"></label>
                <input asp-for="@Model.IsFraud" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label asp-for="@Model.IsFlaggedFraud"></label>
                <input asp-for="@Model.IsFlaggedFraud" />
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" name="Edit" value="Update" />
        </div>
    </form>
</div>