@model TransactionsViewModel

<h1>Transactions</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="Search">
            <div class="container-fluid">
                <div class="input-group">
                    <input class="form-control" asp-for="SearchTerm" placeholder="Search by Date, Name, Fraud" />
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <p class="text-info">Write in the search bar and press <strong>Enter</strong> to search transactions</p>
    <p class="text-info"><strong>Search by Fraud:</strong> eg True</p>
    <p class="text-info"><strong>Search by Destination:</strong> eg C1666</p>
    <p class="text-info"><strong>Search by date:</strong> eg 27/03/2018</p>
</div>
<hr />
<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Origin Customer</th>
        <th>Origin Old balance</th>
        <th>Origin New balance</th>
        <th>Destination Customer</th>
        <th>Destination Old Balance</th>
        <th>Destination New Balance</th>
        <th>Type</th>
        <th>Is Fraud</th>
        <th>Is Flagged Fraud</th>
        <th></th>
    </tr>
    @foreach (var transaction in Model.Transactions)
    {
        <tr>
            <td>@String.Format("{0:MM/dd/yyyy}", transaction.Date)</td>
            <td>@transaction.Amount</td>
            <td>@transaction.OriginCustomer.Name</td>
            <td>@transaction.OldBalanceOrigin</td>
            <td>@transaction.NewBalanceOrigin</td>
            <td>@transaction.DestinationCustomer.Name</td>
            <td>@transaction.OldBalanceDestination</td>
            <td>@transaction.NewBalanceDestination</td>
            <td>@transaction.TransactionType</td>
            <td>@transaction.IsFraud</td>
            <td>@transaction.IsFlaggedFraud</td>
            <td><a class="btn btn-default" asp-action="Edit" asp-route-id="@transaction.Id">Details</a></td>
        </tr>
    }
</table>

<div>
    <a class="btn btn-primary" asp-action="Create">Create New Transaction</a>
</div>